.container {
  padding: 2rem;
}

.card-setup,
.card-input,
.draw-section {
  margin-bottom: 2rem;
}

.cards-grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  border: 1px solid rgb(107, 107, 107);
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
}

.card table {
  border-collapse: separate;
  border-spacing: 6px; /* controls the gap between cells */
  width: 100%;
}

.card.winner {
  background-color: #c8f7c5;
  color: rgb(0, 0, 0);
}

.cell {
  padding: 5px;
  gap: 5px;
  border-radius: 30px;
  min-width: 5px;
  min-height: 5px;
  /* background-color: #c8f7c5; */
  border: 1px solid rgb(107, 107, 107);
  text-align: center;
}

.cell.free {
  color: gray;
}

.cell.matched {
  background-color: rgb(12, 199, 12);
}

.winner-message {
  background-color: #4caf50;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
